<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>همه‌ی فعالیت‌ها</title>
</head>
<body>
    <table>
        {% for activity in activities %}
        <tr>
            <td>{{activity.employee}}</td>
            <td>{{activity.from_time}}</td>
            <td>{{activity.to_time}}</td>
            <td>{{activity.previous_efforts}}</td>
            <td>{{activity.next_efforts}}</td>
            <td>{{activity.impediments}}</td>
            <td>{{activity.other_notable_feedback}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>