<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>همه‌ی فعالیت‌ها</title>
</head>
<body>
    <table>
        {% for log_item in logs %}
        <tr>
            <td>{{log_item.employee}}</td>
            <td>{{log_item.from_time}}</td>
            <td>{{log_item.to_time}}</td>
            <td>{{log_item.previous_efforts}}</td>
            <td>{{log_item.next_efforts}}</td>
            <td>{{log_item.impediments}}</td>
            <td>{{log_item.other_notable_feedback}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>