{% load static %} {% load jformat %}
<!DOCTYPE html>
<html>

<head>
    <title>تابلوی اعلانات سازمانی</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <div class="d-none">
        {{ csrf_token }}
    </div>
    <div id="app">
        <section class="navigation">
            <nav class="container d-flex h-100">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <div class="bord-title font-weight-bold">
                        تابلوی اعلانات سازمانی
                    </div>
                    <div>
                        <span>{{active_coworkers}}</span>
                        همکار آنلاین
                    </div>
                </div>
            </nav>
        </section>
        <section class="my-3">
            <div class="container">
                <div class="row" id="statusBar">
                    <div  v-bind:class="classObject"
                        class="col-12 user-status-bar py-1 d-flex justify-content-between align-items-center orange-bg">
                        <!-- <div>{{username}}</div> -->
                        [[setEmployeeId({{current_employee_id}})]]
                        <div>[[employeeName]] <a class="text-danger" href="{% url 'logout' %}">(خروج)</a></div>
                        <div class="text-center">
                            <div class="font-weight-bold">[[currentAvailabilityStatusText]]</div>
                            <div>[[currentWorkUpdate]]</div>
                        </div>
                        <div><span>{{today}}</span> - <span> ۱۳:۱۳</span></div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-3 pr-0">
                        <div class="side-bar">
                            <div id="attendance" class="text-left">
                                [[setEmployeeId({{current_employee_id}})]]
                                <div class="dropdown w-100">
                                    <select v-model="selectedWorkplace"
                                        class="btn btn-secondary dropdown-toggle w-100 text-right" id="userState"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        :disabled="entered">
                                        <div class="dropdown-menu w-100 text-right" aria-labelledby="userState">
                                            <option v-for="option in workplaceOptions" v-bind:value="option.id"><span
                                                    class="dropdown-item">[[ option.name ]]</span></option>
                                        </div>
                                    </select>
                                </div>
                                <button type="button" @click="setAttendance" class="btn custom-btn gray-bg">
                                    <template v-if="entered">
                                        اعلام خروج
                                    </template>
                                    <template v-else>
                                        اعلام ورود
                                    </template>
                                </button>
                            </div>
                            <div class="v-line my-2"></div>

                            <div id="availabilityStatus">
                                [[setEmployeeId({{current_employee_id}})]]
                                <div class="dropdown w-100">
                                    <select v-model="selected"
                                        class="btn btn-secondary dropdown-toggle w-100 text-right" id="userState"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="dropdown-menu w-100 text-right" aria-labelledby="userState">
                                            <option v-for="option in options" v-bind:value="option.reason"><span
                                                    class="dropdown-item">[[ option.reason_display ]]</span></option>
                                        </div>
                                    </select>
                                </div>
                                <div class="">
                                    <div class="input-group my-2">
                                        <input type="text" v-model="until" class="form-control"
                                            placeholder="زمان بازگشت" />
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button v-on:click="submit" class="btn custom-btn cta-bg">
                                        ارسال
                                    </button>
                                </div>
                            </div>

                            <div class="v-line my-2"></div>
                            <div id="workUpdate">
                                <div class="dropdown w-100">
                                    <select v-model="selectedUpdateType"
                                        class="btn btn-secondary dropdown-toggle w-100 text-right" id="userState"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="dropdown-menu w-100 text-right" aria-labelledby="userState">
                                            <option v-for="option in updateTypeOptions" v-bind:value="option.update_type"><span
                                                    class="dropdown-item">[[ option.update_type_display ]]</span></option>
                                        </div>
                                    </select>
                                </div>
                                <div>
                                    <input type="text" class="form-control my-2" placeholder="عنوان کار " />
                                </div>
                                <div>
                                    <input type="text" class="form-control my-2" placeholder="زمان تخمینی فعالیت" />
                                </div>
                                <div>
                                    <textarea class="form-control my-2" aria-label="With textarea"
                                        placeholder="توضیحات"></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn custom-btn cta-bg">
                                        ارسال
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 pl-0">
                        <div class="main-box">
                            <div id="timeline" class="timeline">
                                <div v-for="log in logs"
                                    class="row m-0 justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                                    <div class="col-10 col-md-5 order-3 p-0 order-md-1 timeline-content">
                                        <span
                                            class="username text-light d-block py-1 pr-3">[[log.employee.full_name]]</span>
                                        <p class="py-1 px-2">
                                            [[log.event_message]]
                                        </p>
                                        <div class="text-left pl-2 py-1 dri_ltr">
                                            <span>[[log.datetime_occured_formatted]]</span>
                                        </div>
                                    </div>
                                    <div class="position-relative col-2 col-sm-1 px-md-3 order-2 text-md-center">
                                        <span class="timeline-circle"></span>
                                    </div>
                                    <div class="col-10 col-md-5 order-1 order-md-3 py-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
</body>

</html>