.white-bg {
    background: #fff
}

.white-color {
    color: #fff
}

.red-color {
    color: #EB5757
}

.cta-bg {
    background-color: $cta-color
}

.orange-bg {
    background-color: #FFC002
}

.gray-bg {
    background-color: #A0B6C2
}